body {
  background-color: rgb(13, 17, 23);
}

img {
  max-width: 99%;
  max-height: 99%;
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
}


p {
  font-family: 'Source Code Pro', monospace;
  color: rgb(255, 119, 119);
  text-align: center;
  transform: translateY(20px);
}
